<% if !@error.nil? %>
  <%= @error %>
<% end %>

<div>
  <form action= "/urls" method= "post">
    <input type= "text" name= "url" placeholder= "URL here!" value="http://">
    <input type= "submit" value= "Shorten!">
  </form>
</div>