<div class='container'>
<h2>Create account</h2>
<form action= "/user" method= "post">
  <input type= "text" name= "user[name]" placeholder= "Name"><br>
  <input type= "text" name= "user[email]" placeholder= "Email"><br>
  <input type= "text" name= "user[password]" placeholder= "Password"><br>
  <input type= "submit" value= "Sign up!">
</form>
</div>